* {
  margin: 0;
  padding: 0;
}

nav {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-bottom: solid 2px #d3d3d3;
  width: 90%;
  margin: auto;
}

nav div img {
  height: 80px;
  margin-left: 12%;
  margin-right: 4%;
}

#logo {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

a {
  text-decoration: none;
  color: #3592fa;
  margin-right: 4%;
  padding-right: 1%;
}

.active {
  border-right: solid #d3d3d3;
  text-decoration: underline;
}
